# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  eaas-orb: roost-eaas-orb/eaas-orb@dev:ab8a16adc8b907db754401ea9e2efd556707b9e1
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  job1:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - eaas-orb/trigger-eaas:
          application_name: orbtest
          auth_token: TOKEN
          pipeline_project_type: github
          roost_server: SERVER
      - persist_to_workspace:
          paths:
            - bash.env
          root: .
  job2:
    docker:
      - image: 'cimg/base:current'
    steps:
      - attach_workspace:
          at: .
      - run: |
          cat bash.env >> $BASH_ENV
      - run: |
          printenv
workflows:
  Roost-Workflow:
    jobs:
      - job1
      - job2:
          requires:
            - job1