version: 2.1

orbs:
  eaas-orb: roost-eaas-orb/eaas-orb@dev:69b1eef051c2e68d8a8575e7585dd801a036ad00
jobs:
  test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      # Run your orb's commands to validate them.
      - eaas-orb/triggereaas:
          application_name: "eaastest"
      - eaas-orb/createcluster:
          email: "support@zb.io" 
workflows:
  test-workflow:
    jobs:
      - test
