version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.2.0
jobs:
  test:
    docker:
      - image: circleci/golang:1.15.8
    working_directory: ~/repo/ballot
    steps:
      - checkout
      - run:
          name: run unit tests
          command: |
            mkdir -p /tmp/test-reports
            go test -v ./ballot/...
      - store_test_results:
          path: /tmp/test-reports
workflows:
  test-workflow:
    jobs:
      - test
      - aws-ecr/build-and-push-image:
            assume-web-identity: false 
            aws-access-key-id: AWS_ACCESS_KEY_ID
            aws-secret-access-key: AWS_SECRET_ACCESS_KEY 
            create-repo: true 
            path: ./ballot 
            region: 'us-west-1'
            registry-id: AWS_ACCOUNT_ID
            repo: ballot 
            docker-login: false 

# VS Code Extension Version: 1.4.0