version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.2.0
  roost-orb-test-1: roost/roost-orb-test-1@1.0.1
jobs:
  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - roost-orb-test-1/createcluster:
          alias: testalias 
          email: vipul.choudhary@zb.io 
          roost_auth_token: ROOST_AUTH_TOKEN
  test:
    docker:
      - image: circleci/golang:1.15.8
    working_directory: ~/repo/ballot
    steps:
      - checkout
      - run:
          name: run unit tests
          command: |
            mkdir -p /tmp/test-reports
            go test -v ./ballot/...
            gotestsum --junitfile /tmp/test-reports/unit-tests.xml
      - store_test_results:
          path: /tmp/test-reports
workflows:
  test-workflow:
    jobs:
      - test
      - example-job
      - aws-ecr/build-and-push-image:
            assume-web-identity: false 
            aws-access-key-id: AWS_ACCESS_KEY_ID
            aws-secret-access-key: AWS_SECRET_ACCESS_KEY 
            create-repo: true 
            path: ./ballot 
            region: 'us-west-1'
            registry-id: AWS_ACCOUNT_ID
            repo: ballot 
            docker-login: false 

# VS Code Extension Version: 1.4.0